/* elementos grid */
.container .header {
  grid-area: header;
}

.container .sidebar {
  grid-area: sidebar;
}

.container .card1 {
  grid-area: card1;
}

.container .card2 {
  grid-area: card2;
}

.container .card3 {
  grid-area: card3;
}
.container .card4 {
  grid-area: card4;
}
.container .card5 {
  grid-area: card5;
}
.container .card6 {
  grid-area: card6;
}

.container .widget-1 {
  grid-area: widget-1;
}

.container .widget-2 {
  grid-area: widget-2;
}

.container .footer {
  grid-area: footer;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

/* estructura grid */
.container {
  width: 1080px;
  margin: 10px auto; /* auto para centrar la pag*/
  display: grid; /* display grid para empezar a trabajar con css grid*/
  grid-gap: 10px; /* espaciado de 20px entre cada uno de los elementos del container*/
  grid-template-columns: repeat(4, 1fr); /* para establecer 3 col*/
  grid-template-rows: repeat(7, auto);
  /* especificar un area */
  grid-template-areas:
    'header    header     header     header'
    'sidebar   img1       card1      card1'
    'sidebar   card2      card2      img2'
    'widget-1  widget-1   widget-2   widget-2'
    'img3      img4       img5       img6'
    'card3     card4      card5      card6'
    'footer    footer     footer     footer';
}
