/* estructura grid */
.container {
  min-width: 1080px; /* ancho minimo */
  margin: 10px auto; /* auto para centrar la pag*/
  display: grid; /* display grid para empezar a trabajar con css grid*/
  grid-gap: 10px; /* espaciado de 10px entre cada uno de los elementos del container*/
  grid-template-columns: repeat(4, 1fr); /* 4 col, ancho 1 fr*/
  grid-template-rows: repeat(5, auto);
  grid-template-areas: /* especificar un area */
    'header    header     header     header'
    'sidebar   img1       card1      card1'
    'sidebar   card2      card2      img2'
    'widget-1  widget-2   widget-2   widget-3'
    'footer    footer     footer     footer';
}
