a {
  text-decoration: none;
}

.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* aside */

.horizontal li {
  font-size: 22px;
  float: left;
  padding: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
}

.horizontal a {
  color: #fff;
  text-align: center;
  /* margin: 15px; */
  margin: auto;
  padding: 10px;
  background-color: #00adb5;
}

.horizontal a:hover,
.horizontal a:active {
  background-color: #019199;
  text-decoration: none;
  color: #000;
}

.vertical a {
  display: block;
  color: #fff;
  background-color: #00adb5;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.vertical a:hover,
.vertical a:active {
  background-color: #019199;
  color: #000000;
  text-decoration: none;
}

/* nav - header  */

/* Style The Dropdown Button */
.dropbtn {
  /* background-color: #4caf50; */
  background-color: #303841;
  color: white;
  margin: 12px;
  padding: 2px;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  text-decoration: none;
  font-size: 17px;
  color: #174274;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #000;
}

/* footer */

.vertical-footer a {
  text-decoration: none;
  color: #fff;
  text-align: left;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.vertical-footer li {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  width: 120px;
  text-align: left;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.vertical-footer a:hover,
.vertical-footer a:active {
  background-color: #ff5723;
  color: #000000;
  text-decoration: none;
}
