/* Estilos tasticos */
.sombra1 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*  Header  */
.container .header {
  height: 75px;
  background-color: #303841;
  color: #fff;
}

.nav-text {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* sidebar */

.container .sidebar {
  grid-column: 1 / 2; /* Empieza en la 3 y termina en la 4 col*/
  /* background: #393e46; */
  background: #00adb5;
  text-align: justify;
  display: flex; /* Flex box vertical, cuando queremos organizar elementos de forma vertical y horizontal*/
  align-items: baseline;
  justify-content: center;
  /* min-height: 500px; */
}

a {
  text-decoration: none;
}

.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal li {
  font-size: 22px;
  float: left;
  padding: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
}

.horizontal a {
  color: #fff;
  text-align: center;
  padding: 15px;
}

.horizontal a:hover,
.horizontal a:active {
  background-color: #405758;
  text-decoration: none;
  color: #fff;
}

.vertical a {
  display: block;
  width: 120px;
  color: #fff;
  background-color: #98bf21;
  text-align: center;
  padding: 4px;
}

.vertical a:hover,
.vertical a:active {
  background-color: #7a991a;
}

.titulo {
  text-align: center;
  font-size: 20px;
  padding: 4px;
  color: black;
}
/* Contenido */

.element-nav {
  font-size: 1.5rem;
  color: black;
}

.container .card1,
.container .card2,
.container .card3 {
  background-color: #fff;
}

.container > div, /* Para acceder a los div del container*/
.container .header,
.container .card1,
.container .card2,
.container .sidebar,
.container .footer {
  /* background: white; */
  padding: 5px;
  border-radius: 2px;
}

.container .widget-1,
.container .widget-2 {
  background: #00adb5;
  color: white;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .footer {
  background: #ff5722;
  color: white;
}

.img1,
.img2 {
  width: 270px;
  height: 180px;
}

.parrafo1 {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  text-align: justify;
  text-indent: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}
